# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# editor locks shit
*.swp
inc/*.swp
src/*.swp
docs/*.#

out/out.bin
out.bin
TEMP/*
util/TEMP
util/TEMP/*
# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

editor

lyle.bin
out/rom.bin

docs/sauce/*.0*

res/*.s

util/echo/xm2esf
