# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# vim shit
*.swp
inc/*.swp
src/*.swp

out/out.bin
out.bin
util/TEMP
util/TEMP/*
# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

editor

lyle.bin
out/rom.bin

util/TEMP/*
