# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# vim shit
*.swp
inc/*.swp
src/*.swp

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
out.bin
out/out.bin
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
