<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/lyle.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/bg3.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/bg1.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/bg2.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/cubes.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/particles.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/hud.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/outside1.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/inside1.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/font.bin"/>
</settings>
