<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/cubes.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/util/tm0"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/util/tm2"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/en_boingo.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/bogologo.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/outside3.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/outside2.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/outside1.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/inside1.bin"/>
  <property key="recentFile" value="/opt/toolchains/gen/m68k-elf/lib/libmd.a"/>
</settings>
